<h1>Account</h1>

<%= show_notice(notice) %>

<p>

<p class="alert alert-danger">I just whipped up a nice light rails application with custom authentication. Now for the idea, the thing that makes a difference, changes the world. What could it be? I taken great pleasure in create this base up to this point. There is something to be learned here. I think my brain is fried from last night.</p>



<div class="alert alert-info">Nothing to show for accounts yet.</div>

<p class="alert alert-warning">Even though I can display any data from the database here, I still need to build the models
and the endpoints for creating and updating things associated with this users account.</p>

<p class="alert alert-danger">This is cool because you can get any information you need from this page from the pages controller.</p>

<p class="alert alert-success">Success! Now get to work!</p>