<h1>Home</h1>

I just whipped up a nice light rails application with custom authentication. Now for the idea, the thing that makes a difference, changes the world.
What could it be? I taken great pleasure in create this base up to this point. There is something to be learned here. I think my brain is fried from last night.
